/*
*{border: 1px solid blue;}
*/
html {
    scroll-behavior: smooth;
}

body{
    margin: 0;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    box-sizing: border-box;
}


/*######################### HEADER ##########################*/


.header {
    background-color: #E5F4E3;
    color: white;
    padding: 20px 10%;

    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.headerleft,
.headerright {
    display: flex;
    flex: 1;
}

.headerleft {
    justify-content: flex-start;
    font-family: 'Knewave', cursive;
    color: #1F2937;
    font-size: 30px;
}

.headerright {
    display: inline-flex;
    justify-content: flex-end;
    gap: 10%;
    min-height: 0;
}

.Logo{
    white-space: nowrap;
    width: 100px;
}


.headerlink {
    text-decoration: none;
    color: #1f2937cc;
    font-size: 23px;
    font-family: 'Knewave', cursive;
    white-space: nowrap;
    min-height: 0;
}


/*######################### MAIN ##########################*/
.main{
    display: flex;
    flex-direction: column;
}

/*-------------------- MAIN TOP --------------------*/

.main-top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 93vh;
    padding: 0px 200px;
    gap: 10%;

    background-color: #E5F4E3;
}

.hero-container {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arrow-hero {
    align-self: flex-end;
}

.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.hero-title{
    font-size: 40px;
    color: #5da9e9;
    font-family: 'Gasoek One', sans-serif;
    text-shadow: 2.5px 2.5px 0px #2c5271;
}

.hero-title-negative {
    font-size: 40px;
    color: #E5F4E3;
    font-family: 'Gasoek One', sans-serif;
    text-shadow: 0px 0px 2px rgba(10, 10, 10, 0.515);

    transition: 0.2s ease-in-out;
}

.hero-title-negative:hover {
    font-size: 40px;
    color: #2d2d2a;
    text-shadow: 2.5px 2.5px 0px #9ac2e3;
    font-family: 'Gasoek One', sans-serif;
}

.hero-picture{
    
    width: 400px;
    height: auto;
    justify-content: flex-start;
}

.arrow-hero {
    width: 200px;
    height: auto;
    rotate: 245deg;
    transform: scaleX(-1);
    opacity: 0.95;
}


/*-------------------- MAIN MIDDLE --------------------*/

.main-middle{
    padding: 80px 15%;
    display: flex;
    flex-direction: column;
    gap: 90px;
    text-align: center;
    background-color: #3a606e;
}

.main-middle-header{
    color: rgb(206, 218, 206);
    font-size: 70px;
    font-family: 'Knewave', cursive;
    text-shadow: 3px 3px 0px #0d1923;
    text-align: center;
}

.main-middle-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-shrink: 0;

}

.info{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.item{
    width: 400px;
    border-radius: 5px;
}

.item.left,
.item.right {
    transform: none;
    transition: 1s ease-in-out;
    opacity: 0.8;
}
.item.left:hover {
    transform: perspective(500px) rotateY(calc(-8deg*var(--_i,-1)));
    box-shadow: 0 0 15px 6px white;
    opacity: 1;
}

.item.right:hover {
    transform: perspective(500px) rotateY(calc(8deg*var(--_i,-1)));
    box-shadow: 0 0 15px 6px white;
    opacity: 1;
}

.item-text {
    font-size: 18px;
    color: honeydew;
    font-family: 'Knewave', cursive;
    width: 280px;
    align-self: center;
}

/*-------------------- MAIN BOTTOM --------------------*/

.contact-me{
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 45px 15%;
}

.contact-me-header{
    color: #0d1923;
    font-size: 70px;
    font-family: 'Knewave', cursive;
    text-shadow: 3px 3px 0px rgb(181, 209, 181);
    text-align: center;
}

section.github{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.arrow.left,
.arrow.right {
    height: 100px;
    rotate: 250deg;
    opacity: 1;
}

.arrow.left {
    transform: scaleX(-1) scaleY(-1);
}

.icon {
    height: 60px;
    transition: transform 0.4s ease-in-out;
}

.icon:hover {
    transform: rotate(360deg) scale(1.2);
}

.email {
    font-family: 'Knewave', cursive;
    font-size: 30px;
    rotate: 2deg;
    transition: transform 0.4s ease-in-out;
}

.email:hover {
    transform: rotate(5deg) scale(1.1);
    color: rgb(0, 0, 0);
    text-shadow: 2.5px 2.5px 0px #bbcfdf;

}